body{
	margin:0;

}
header{
	background: #999;
	color: white;
	padding: 5px 15px 0px;
}
header h1{
	margin: 0;
	display: inline;
}
/*note this makes only nav ul's have this, as opposed to all ul's*/
nav ul{
	margin:0;
	padding: 0 0 0 15px;
	display: inline;
}
nav ul li{
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	/*adds surrounding space, padding adds its own background space*/
	margin: 0; 
	padding: 5px 10px;

}
nav ul li a{
	color: white;
}

.row{

}
.col{
	float:left; /*puts cols as left as they go*/
	background: pink;
	border-radius: 5px; /*makes curved corners*/
	padding: .5%;
	/*percentage makes them rearrange depending on screen size*/
	/*if percentages add to >100%, simply wraps to next line*/
	width: 31%; 
	margin: .5%;
}
footer{
	clear:both; /*forget about the floats and have own line*/
}